@if (isVisible()) {

  <header class="header" animate.enter="enter-animation">
    <h2>Eustáquio Ferreira</h2>

    @if (isDesktop()) {
      <!-- DESKTOP -->
      <div class="buttons">
        <a (click)="scrollTo('portfolio')" class="btn">Portfólio</a>
        <a (click)="scrollTo('projetos')" class="btn">Projetos</a>
        <a (click)="scrollTo('sobre')" class="btn">Sobre</a>
        <a routerLink="/main/curriculo" class="btn">Currículo</a>
        <a (click)="scrollTo('contato')" class="btn">Contato</a>
      </div>
    } @else {
      <!-- MOBILE -->
      <button class="hamburger btn" (click)="toggleMenu()">☰</button>
    }
  </header>

  @if (menuOpen()) {
    <div class="mobile-menu" >
      <a (click)="scrollTo('portfolio')">Portfólio</a>
      <a (click)="scrollTo('projetos')">Projetos</a>
      <a (click)="scrollTo('sobre')">Sobre</a>
      <a routerLink="/main/curriculo" (click)="closeMenu()">Currículo</a>
      <a (click)="scrollTo('contato')">Contato</a>
    </div>
  }
}
