
.header {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #fff;
  padding: 10px 30px;
  width: 100%;
  height: 56px;
  color: #565656;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 4px rgba(0,0,0,.08);

  .buttons .btn {
    margin-left: 16px;
    text-decoration: none;
    color: #565656;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-weight: 600;
    cursor: pointer;
    pointer-events: auto;
    &:hover {
      background-color: #f0f0f0;
    }

    &:active {
      background-color: #f0f0f0;
      transform: scale(0.95);
      color: #007e5e;
    }
  }

  /* Tablets and Mobile */
  @media (max-width: 1024px) {
    .header {
      position: fixed;
      top: 0;
      width: 100%;
      padding: 16px 24px;
    }

    .buttons {
      gap: 16px;
    }
  }
}

.enter-animation {
  animation: slide-fade 2s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.hamburger {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  top: 70px;
  right: 20px;
  background: rgba(5, 5, 5, 0.95);
  backdrop-filter: blur(14px);
  border-radius: 14px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 200;


  a {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
  }
}
