
.about-section {
  padding: 120px 8%;
  background: #fafafa;
  color: #000;
}

.section-header {
  margin-bottom: 60px;
}

.section-header h2 {
  font-size: 3rem;
}

.section-header p {
  margin-top: 2%;
  text-align: center;
  opacity: 0.6;
}


.sobre-row {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 4rem;
}

.sobre-text {
  flex: 1;
}

.sobre-image {
  flex: 1;
}

.sobre-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-indent: 4px;
  text-align: left;
}

.sobre-image img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

/* Responsivo */
@media (max-width: 768px) {
  .sobre-row,
  .sobre-row.reverse {
    flex-direction: column;
  }

  .section-header p {
    text-align: left;
  }

}


figure {
  max-width: 720px;
  margin: 40px auto;
  text-align: left;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

figure figcaption {
  margin-top: 4px;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #000;
  opacity: 0.6;
  font-style: italic;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-indent: 4px;
}

/* responsividade */
@media (max-width: 600px) {
  figure {
    margin: 24px 16px;
  }

  figure figcaption {
    font-size: 0.9rem;
  }
}
