
.about-section {
  padding: 120px 8%;
  background: #fafafa;
  color: #000;
}

.section-header {
  margin-bottom: 60px;
}

.section-header h2 {
  font-size: 3rem;
}

.section-header p {
  opacity: 0.6;
}


.sobre-row {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 4rem;
}

.sobre-text {
  flex: 1;
}

.sobre-image {
  flex: 1;
}

.sobre-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-indent: 4px;
}

.sobre-image img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

/* Responsivo */
@media (max-width: 768px) {
  .sobre-row,
  .sobre-row.reverse {
    flex-direction: column;
  }
}
