.carousel {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;

  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 1s ease,
    opacity 1s ease;
}

/* imagem ativa entra da direita */
.slide.active {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

/* imagem que estava ativa sai para a esquerda */
.slide:not(.active) {
  transform: translateX(-100%);
  z-index: 1;
}
